body {
    background-color: #2C3930;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: border-box;
}

/*NAV BAR SECTION*/

a {
    text-decoration: none;
    color: antiquewhite;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #233d39;
    z-index: 1;
}

.navbar,
.logo {
    font-size: 20px;
    font-weight: 100px;
}

.navbar,
#nav-ul {
    display: flex;
}

#nav-ul,
#nav-li {
    list-style: none;
    margin-left: 30px;
    transition: .5s;
}

.navbar #nav-ul li:hover a,
.navbar #nav-ul li.active a {
    color: rgb(238, 119, 34);
}

/*HOME SECTION DESIGN*/

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 7% 0;
    height: 100vh;
    color: rgb(245, 250, 250);
    gap: 8%;
}

.homeInfo h1 {
    font-size: 3.5rem;
    color: rgb(214, 196, 156);
}

.homeInfo h3 {
    font-size: 1.4rem;
    margin-top: 10px;
}

.homeInfo p {
    font-size: 1.1rem;
    margin: 15px 0 25px;
    width: 690px;
}

.homeInfo .icon a {
    display: inline-flex;
    padding: 5px;
    border: 2px solid rgb(209, 185, 134);
    border-radius: 40%;
    font-size: 30px;
    color: rgb(209, 185, 134);
    margin: 0 15px;
    transition: .5s;
}

.homeInfo .icon a:hover {
    background: #d1b986;
    color: rgb(77, 95, 104);
    box-shadow: 0 0 5px rgb(209, 185, 134);
}

.img .img-box {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
}

.img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
}

.heading {
    font-size: 3rem;
    color: rgb(245, 250, 250);
}

/*ABOUT SECTION DESIGN*/

.about {
    display: flex;
    padding: 10rem 7% 0;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 6rem;
    color: rgb(245, 250, 250);
}

#span {
    color: rgb(238, 119, 34);
    font-size: larger;
}

/*EDUCATION SECTION DESIGN*/

.education {
    display: flex;
    padding: 6rem 7% 0;
}

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .edu-box {
    width: 100%;
    margin: 1rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
    border-radius: 2px;
}

.education .box-container .edu-box span {
    font-size: 1.1rem;
    background: rgb(79, 159, 196);
    color: rgb(37, 56, 56);
    border-radius: 1rem;
    padding: .5rem 1rem;
    transition-timing-function: linear;
}

.education .box-container .edu-box span:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
}

.education .box-container .edu-box h3 {
    font-size: 1.2rem;
    color: rgb(245, 250, 250);
    padding: 1rem 0;
}

.education .box-container .edu-box pre {
    font-size: 1.1rem;
    color: rgb(245, 250, 250);
    padding: .6em 0;
}

#institution {
    color: #d1b986;
    font-size: 1.5rem;
}

#institution2 {
    color: #d1b986;
    font-size: 1.5rem;
    margin-top: 2rem;
}

/*SKILLS SECTION DESIGN*/

.skill {
    padding: 6rem 7% 0;
}

.skill .skill-box {
    display: flex;
    align-items: center;
    gap: 7rem;
    flex-wrap: wrap;
    padding: 5rem 0;
    padding-left: 7rem;
    padding-right: 7rem;
}

#logo {
    height: 70px;
    width: 70px;

}

#logospan {
    align-items: center;
    margin-bottom: 2rem;
    color: #d1b986;
    font-size: 1.2rem;
}

#logospan:hover {
    font-size: 1.5rem;
}

.skill .skill-box .skill-list {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 2rem;
    height: 12rem;
    width: 14rem;
}

.skill-list {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-list:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.icon2 {
    padding-top: 1.5rem;
}

.icon2 a {
    display: inline-flex;
    padding: 5px;
    border: 2px solid rgb(209, 185, 134);
    border-radius: 40%;
    font-size: 30px;
    color: rgb(209, 185, 134);
    margin: 0 15px;

}

.icon2 a:hover {
    background: #d1b986;
    color: rgb(77, 95, 104);
    box-shadow: 0 0 5px rgb(209, 185, 134);
}

.icon2 #gitspan {
    font-size: 1.4rem;
    color: rgb(245, 250, 250);
}

/*PORTFOLIO SECTION DESIGN*/

.Portfolio {
    padding: 7rem 7% 0;
}

.carousel-section {
    position: relative;
    width: 100%;
    margin: 60px auto;
    overflow: hidden;
    padding: 0 20px;
}

input[type="radio"] {
    display: none;
}

.carousel {
    position: relative;
    height: 520px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slide1:checked~.carousel .slide-1,
#slide2:checked~.carousel .slide-2 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.content {
    background: #1e1e1e;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    height: 450px;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.content video {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    padding: 1rem;
}

.info h3 {
    margin: 0 0 10px;
    font-size: 1.7rem;
    color: #d1b986;
    font-weight: 900;
}

.info h3:hover {
    transform: scale(1.05);
}

.info p {
    font-size: 1rem;
    color: #ccc;
}

pre {
    white-space: pre-wrap;
    font-size: 0.95rem;
    color: #ddd;
}

.tags span {
    display: inline-block;
    background: #d1b986;
    color: #000;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    font-size: 0.8rem;
}

.icon2 {
    margin-top: 10px;
}

#gitspan {
    font-weight: 500;
    margin-right: 6px;
}

/* Arrows */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #d1b986;
    background: transparent;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    transition: color 0.3s;
}

.nav:hover {
    color: #fff;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

/*CONTACT SECTION DESIGN*/

.contact {
    display: flex;
    padding: 7% 0;
}

.contact form {
    width: 50rem;
    text-align: center;
    margin-bottom: 3rem;
    margin: 0 5rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input {
    width: 35rem;
    padding: 1rem;
    margin: 1.3rem 0;
    font-size: 1rem;
    border-radius: .8rem;
    height: 3rem;
}

.contact form textarea {
    width: 35rem;
    padding: 1rem;
    margin: 1.3rem 0;
    font-size: 1rem;
    border-radius: .8rem;
    height: 12rem;
    display: flex;
}

.contact form .btn {
    display: flex;
    padding: .4rem;
    border: 1px solid rgb(77, 95, 104);
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(209, 185, 134);
    background: #d1b986;
    color: rgb(77, 95, 104);
    font-weight: bold;
    margin-bottom: 5rem;
    align-items: center;
}

/*FOOTER SECTION DESIGN*/

footer {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3rem;
    height: 18vw;
    width: 100%;
}

footer #thanks {
    text-align: center;
    font-weight: 900;
    color: #d1b986;
    font-size: 2.5rem;
}

.footer-detail {
    text-align: left;
    font-size: 1rem;
    color: rgb(245, 250, 250);
    line-height: 2.3rem;
}

/* Responsive */

@media (max-width: 500px){
    .home {
    flex-direction: column-reverse !important;
    align-items: center !important;
    height: 50vh !important;
}
}